<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [elspider_air]"/>

    <param name="legged_robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/$(arg robot_type)/xacro/robot.xacro robot_type:=$(arg robot_type)
    "/>
    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen" args="$(find hexapod_robot_assets)/model/$(arg robot_type)/xacro/robot.xacro $(arg robot_type)"/>

    <rosparam file="$(find legged_hexapod_hw)/config/$(arg robot_type).yaml" command="load"/>

    <param name="robot_type" value="$(arg robot_type)"/>
    <include file="$(find legged_hexapod_hw)/launch/$(arg robot_type).launch"/>
</launch>
